In [1]:
import pandas as pd
import requests
from io import StringIO

# Corrected URL (space encoded as %20)
url = "https://www.wildfoxindia.com/Kambalghar/dsrnewnetchksch_dsr_new_chk_net_%20.csv"

try:
    # Add headers in case server blocks Python requests
    headers = {"User-Agent": "Mozilla/5.0"}
    response = requests.get(url, headers=headers)
    response.raise_for_status()

    # Read CSV into pandas DataFrame
    df = pd.read_csv(StringIO(response.text), low_memory=False)

    # Show first 5 rows
    print("✅ CSV loaded successfully. First 5 rows:\n")
    df.head()

except requests.exceptions.RequestException as e:
    print(f"❌ HTTP error while downloading: {e}")

except Exception as e:
    print(f"❌ Error reading CSV into DataFrame: {e}")

✅ CSV loaded successfully. First 5 rows:

In [2]:
df.head()

,NAME,ADMSITE_CODE,BILL_DATE,BILL_NO,ICODE,DIVISION,SECTION,DEPARTMENT,MRP,CREATED_ON,...,bill_promo_amt,item_promo_discount_basis,item_promo_discount_factor,item_promo_discount_type,item_promo_end_date,item_promo_name,item_promo_no,item_promo_start_date,promo_amount,SALES_PERSON_NO
0,KAMBAL GHAR - MALDHAIYA,6.0,11-10-2023,CMA05/000001/Oct-23,KG53589,LADIES,LADIES WEAR,DRESSES,3295.0,05-10-2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,M100
1,KAMBAL GHAR - MALDHAIYA,6.0,11-10-2023,CMA05/000010/Oct-23,KG102333,LADIES,LADIES WEAR,JUMPSUIT,4499.0,05-10-2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,M110
2,KAMBAL GHAR - MALDHAIYA,6.0,12-10-2023,CMA05/000100/Oct-23,KG90759,MENS,MENS WEAR,SUITING,3550.0,05-10-2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,M66
3,KAMBAL GHAR - MALDHAIYA,6.0,21-10-2023,CMA05/001000/Oct-23,KG10015,KIDS,KIDS WEAR,T-SHIRTS,1399.0,05-10-2023,...,NaN,R,1000.0,A,31-10-2023,Pepe Kids Offer,001-00048,12-10-2023,212.10,M100
4,KAMBAL GHAR - MALDHAIYA,6.0,21-10-2023,CMA05/001000/Oct-23,KG106754,KIDS,KIDS WEAR,JEANS,1799.0,05-10-2023,...,NaN,R,1000.0,A,31-10-2023,Pepe Kids Offer,001-00048,12-10-2023,272.74,M100

In [3]:
df.info

<bound method DataFrame.info of                            NAME  ADMSITE_CODE   BILL_DATE  \
0       KAMBAL GHAR - MALDHAIYA           6.0  11-10-2023
1       KAMBAL GHAR - MALDHAIYA           6.0  11-10-2023
2       KAMBAL GHAR - MALDHAIYA           6.0  12-10-2023
3       KAMBAL GHAR - MALDHAIYA           6.0  21-10-2023
4       KAMBAL GHAR - MALDHAIYA           6.0  21-10-2023
...                         ...           ...         ...
829376   KAMBAL GHAR - BULANALA           5.0  23-12-2023
829377   KAMBAL GHAR - BULANALA           5.0  23-12-2023
829378   KAMBAL GHAR - BULANALA           5.0  23-12-2023
829379                      NaN           NaN         NaN
829380                      NaN           NaN         NaN

                    BILL_NO     ICODE DIVISION      SECTION DEPARTMENT  \
0       CMA05/000001/Oct-23   KG53589   LADIES  LADIES WEAR    DRESSES
1       CMA05/000010/Oct-23  KG102333   LADIES  LADIES WEAR   JUMPSUIT
2       CMA05/000100/Oct-23   KG90759     MENS    MENS WEAR    SUITING
3       CMA05/001000/Oct-23   KG10015     KIDS    KIDS WEAR   T-SHIRTS
4       CMA05/001000/Oct-23  KG106754     KIDS    KIDS WEAR      JEANS
...                     ...       ...      ...          ...        ...
829376  CMA04/001134/Dec-23  KG113430     MENS    MENS WEAR      JEANS
829377  CMA04/001134/Dec-23   KG67943     MENS    MENS WEAR      JEANS
829378  CMA04/001134/Dec-23  KG204605     MENS    MENS WEAR      JEANS
829379                  NaN       NaN      NaN          NaN        NaN
829380                  NaN       NaN      NaN          NaN        NaN

           MRP  CREATED_ON  ...  bill_promo_amt  item_promo_discount_basis  \
0       3295.0  05-10-2023  ...             NaN                        NaN
1       4499.0  05-10-2023  ...             NaN                        NaN
2       3550.0  05-10-2023  ...             NaN                        NaN
3       1399.0  05-10-2023  ...             NaN                          R
4       1799.0  05-10-2023  ...             NaN                          R
...        ...         ...  ...             ...                        ...
829376  2999.0  16-10-2023  ...             NaN                        NaN
829377  2799.0  05-10-2023  ...             NaN                        NaN
829378  3499.0  12-12-2023  ...             NaN                        NaN
829379     NaN         NaN  ...             NaN                        NaN
829380     NaN         NaN  ...             NaN                        NaN

        item_promo_discount_factor  item_promo_discount_type  \
0                              NaN                       NaN
1                              NaN                       NaN
2                              NaN                       NaN
3                           1000.0                         A
4                           1000.0                         A
...                            ...                       ...
829376                         NaN                       NaN
829377                         NaN                       NaN
829378                         NaN                       NaN
829379                         NaN                       NaN
829380                         NaN                       NaN

        item_promo_end_date  item_promo_name  item_promo_no  \
0                       NaN              NaN            NaN
1                       NaN              NaN            NaN
2                       NaN              NaN            NaN
3                31-10-2023  Pepe Kids Offer      001-00048
4                31-10-2023  Pepe Kids Offer      001-00048
...                     ...              ...            ...
829376                  NaN              NaN            NaN
829377                  NaN              NaN            NaN
829378                  NaN              NaN            NaN
829379                  NaN              NaN            NaN
829380                  NaN              NaN            NaN

        item_promo_start_date promo_amount  SALES_PERSON_NO
0                         NaN         0.00             M100
1                         NaN         0.00             M110
2                         NaN         0.00              M66
3                  12-10-2023       212.10             M100
4                  12-10-2023       272.74             M100
...                       ...          ...              ...
829376                    NaN         0.00              B04
829377                    NaN         0.00              B04
829378                    NaN         0.00              B04
829379                    NaN          NaN              NaN
829380                    NaN          NaN              NaN

[829381 rows x 38 columns]>

In [4]:
df.columns

Index(['NAME', 'ADMSITE_CODE', 'BILL_DATE', 'BILL_NO', 'ICODE', 'DIVISION',
       'SECTION', 'DEPARTMENT', 'MRP', 'CREATED_ON', 'BILL_QUANTITY',
       'BASIC_AMOUNT', 'NET_AMOUNT', 'DISCOUNT_AMOUNT', 'GROSS_AMOUNT',
       'TAXABLE_AMOUNT', 'TAX_AMOUNT', 'RETURN_QUANTITY', 'SALES_PERSON_NAME',
       'addl_promo_amt', 'addl_promo_code', 'addl_promo_description',
       'addl_promo_disc_factor', 'addl_promo_disc_type', 'addl_promo_name',
       'addl_promo_no', 'addl_promo_summary', 'base_promoamt',
       'bill_promo_amt', 'item_promo_discount_basis',
       'item_promo_discount_factor', 'item_promo_discount_type',
       'item_promo_end_date', 'item_promo_name', 'item_promo_no',
       'item_promo_start_date', 'promo_amount', 'SALES_PERSON_NO'],
      dtype='object')

In [5]:
 df["NET_AMOUNT"] = pd.to_numeric(df["NET_AMOUNT"], errors="coerce")

In [6]:
  site_sales = df.groupby("ADMSITE_CODE")["NET_AMOUNT"].sum()
  site_sales

ADMSITE_CODE
3.0    4.178856e+08
4.0    2.150052e+08
5.0    4.260454e+07
6.0    1.062167e+09
Name: NET_AMOUNT, dtype: float64

In [7]:
df.shape

(829381, 38)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829381 entries, 0 to 829380
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   NAME                        829379 non-null  object
 1   ADMSITE_CODE                829379 non-null  float64
 2   BILL_DATE                   829379 non-null  object
 3   BILL_NO                     829379 non-null  object
 4   ICODE                       829379 non-null  object
 5   DIVISION                    829379 non-null  object
 6   SECTION                     829379 non-null  object
 7   DEPARTMENT                  829046 non-null  object
 8   MRP                         829379 non-null  float64
 9   CREATED_ON                  829379 non-null  object
 10  BILL_QUANTITY               829380 non-null  float64
 11  BASIC_AMOUNT                829380 non-null  float64
 12  NET_AMOUNT                  829380 non-null  float64
 13  DISCOUNT_AMOUNT             829379 non-null  float64
 14  GROSS_AMOUNT                829379 non-null  float64
 15  TAXABLE_AMOUNT              829379 non-null  float64
 16  TAX_AMOUNT                  829379 non-null  float64
 17  RETURN_QUANTITY             829379 non-null  float64
 18  SALES_PERSON_NAME           828645 non-null  object
 19  addl_promo_amt              176125 non-null  float64
 20  addl_promo_code             1259 non-null    float64
 21  addl_promo_description      1259 non-null    object
 22  addl_promo_disc_factor      780 non-null     float64
 23  addl_promo_disc_type        780 non-null     object
 24  addl_promo_name             780 non-null     object
 25  addl_promo_no               780 non-null     object
 26  addl_promo_summary          1259 non-null    object
 27  base_promoamt               176125 non-null  float64
 28  bill_promo_amt              179438 non-null  float64
 29  item_promo_discount_basis   96566 non-null   object
 30  item_promo_discount_factor  96566 non-null   float64
 31  item_promo_discount_type    96566 non-null   object
 32  item_promo_end_date         96566 non-null   object
 33  item_promo_name             96566 non-null   object
 34  item_promo_no               96566 non-null   object
 35  item_promo_start_date       96566 non-null   object
 36  promo_amount                829379 non-null  float64
 37  SALES_PERSON_NO             828645 non-null  object
dtypes: float64(17), object(21)
memory usage: 240.5+ MB

In [ ]:
import pandas as pd
import requests
from io import StringIO
from sqlalchemy import create_engine, text
import urllib
import pyodbc

# -------------------------------
# 1. DB credentials
# -------------------------------
DB_SERVER = "SWETHA\\SQLEXPRESS"
DB_DATABASE = "wildfox"
DB_USERNAME = "wildfox"
DB_PASSWORD = "wfx@123"
TABLE_NAME = "sales_data"

# CSV URL
url = "https://www.wildfoxindia.com/Kambalghar/dsrnewnetchksch_dsr_new_chk_net_%20.csv"

# -------------------------------
# 2. Load CSV
# -------------------------------
response = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
response.raise_for_status()
df = pd.read_csv(StringIO(response.text), low_memory=False)
print("✅ CSV loaded. Shape:", df.shape)

# -------------------------------
# 3. Convert date columns
# -------------------------------
date_cols = ["BILL_DATE", "CREATED_ON", "item_promo_start_date", "item_promo_end_date"]
for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], dayfirst=True, errors="coerce")
        print(f"📅 Column {col} converted to datetime, missing: {df[col].isna().sum()}")

# -------------------------------
# 4. Fill missing values
# -------------------------------
numeric_cols = df.select_dtypes(include=["float64", "int64"]).columns
df[numeric_cols] = df[numeric_cols].fillna(0)

string_cols = df.select_dtypes(include=["object"]).columns
df[string_cols] = df[string_cols].fillna("")

# -------------------------------
# 5. Detect ODBC driver
# -------------------------------
drivers = [driver for driver in pyodbc.drivers() if "SQL Server" in driver]
if not drivers:
    raise Exception("❌ No ODBC SQL Server driver found. Install ODBC Driver 17 or 18.")
ODBC_DRIVER = drivers[-1]
print(f"✅ Using ODBC Driver: {ODBC_DRIVER}")

# -------------------------------
# 6. Connect to SQL Server
# -------------------------------
params = urllib.parse.quote_plus(
    f"DRIVER={{{ODBC_DRIVER}}};"
    f"SERVER={DB_SERVER};"
    f"DATABASE={DB_DATABASE};"
    f"UID={DB_USERNAME};"
    f"PWD={DB_PASSWORD};"
    f"TrustServerCertificate=Yes;"
)
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}", fast_executemany=True)

# -------------------------------
# 7. Generate table dynamically
# -------------------------------
def generate_table_query(table_name, df):
    cols = []
    for col, dtype in zip(df.columns, df.dtypes):
        if "int" in str(dtype):
            sql_type = "BIGINT"
        elif "float" in str(dtype):
            sql_type = "DECIMAL(18,4)"
        elif "datetime" in str(dtype):
            sql_type = "DATETIME"
        else:
            sql_type = "NVARCHAR(MAX)"
        cols.append(f"[{col}] {sql_type}")
    cols_sql = ",\n    ".join(cols)
    query = f"""
    IF OBJECT_ID('{table_name}', 'U') IS NULL
    CREATE TABLE {table_name} (
        id BIGINT IDENTITY(1,1) PRIMARY KEY,
        {cols_sql}
    );
    """
    return query

with engine.connect() as conn:
    conn.execute(text(generate_table_query(TABLE_NAME, df)))
    print(f"✅ Table '{TABLE_NAME}' created (if not exists)")

# -------------------------------
# 8. Insert data in safe chunks
# -------------------------------
chunk_size = 1000  # safe batch size for SQL Server
for start in range(0, len(df), chunk_size):
    end = start + chunk_size
    df.iloc[start:end].to_sql(
        TABLE_NAME,
        con=engine,
        if_exists="append",
        index=False,
        method=None  # fast_executemany handles performance
    )
    print(f"Inserted rows {start} to {min(end, len(df))}")

print(f"🎉 Data inserted successfully into {DB_DATABASE}.{TABLE_NAME}")